.lh_table {
    border-radius: 25px;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #d22c58;
    border-collapse: collapse;
    text-align: center;
    font-family: Consolas;
    font-size: 18px;
}

.lh_td {
    padding: 0.8rem;
    border: 2px solid #d22c58;
}


.lh_tr_header td {
    border-color: #d22c58;
    font-weight: bold;
}

.lh_tr:hover {
    background: #afafaf;

}

.lh_button {
    background: white;
    border: 1px solid black;
}

.lh_button:hover {
    background: #d22c58;
}

.lh_a:link {
    text-decoration: none;
    color: blue;
}

.lh_a:visited {
    text-decoration: none;
}

.lh_a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #d22c58;
}

.lh_showcase {
    padding: 1rem;
    position: center;
}

.lh_h3 {
    font-size: 2.5rem;
    margin: 1rem;
    text-align: center;
}